<head>
 <meta name=“viewport” content=“width=device-width, initial-scale=1">
 <meta http-equiv=“X-UA-Compatible” content=“IE=edge,chrome=1">
</head>

<h1>Alcoholic Choco's Cocktails</h1>

<div class=“container”>
  <div class=“row”>
    <% @cocktails.each do |c| %>
    <div>
    <%= link_to c.name, cocktail_path(c)  %>
    </div>
    <% end%>
  </div>
</div>
