<body>
  <div class="banner" style="background-image: url('https://image.freepik.com/free-photo/watermelon-juice-with-copy-space_23-2147640789.jpg');">
    <div class="banner-content">
      <div class=“container”>
      <div class=“row”>
        <% @cocktails.each do |c| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "card", cocktail: c %>
        <%#= link_to c.name, cocktail_path(c)%>
        </div>
        <% end%>
      </div>
      </div>

    </div>
  </div>
</body>
