<div class ="nav-wrapper">
  <div class="title">
    <h1>Alcoholic Choco's Cocktails</h1>
  </div>
  <div class="nav-cocktail">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "Add Cocktail", new_cocktail_path , class: "nav-link" %>
  </div>
</div>
